.blogcontainer {
    width: 66.6%;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 50px;
}

.blogcontainer h4{
    text-decoration: underline;
    letter-spacing: 1px;
}