.blogcontainer {
    width: 66.6%;
    padding-top: 140px;
}

.blogcontainer h1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 4px;
}

.blogcontainer p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 29px;
    line-height: 30px;
}

.content {
    width: 60%;
}