.aboutcontainer {
    width: 50%;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    padding-top: 140px;
    line-height: 30px;
}

.myself {
    float: right;
    padding-left: 10px;
    border-radius: 1px;
}