.projectitems {
    padding-top: 140px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: 1px;
    width: 629px;
    border: 1px solid rgb(255, 255, 255);
}

.projectitems h1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 4px;
}

.projectitems img {
    border-radius: 1%;
}

.projectitems a {
    color: inherit;
}

.buttonwidth{
    width:10vw;
}