.header {
    display: grid;
    place-items: center;
    height: 89vh;
    width: 100vw;
    background-color: transparent;
    background-image:
      radial-gradient(
        circle closest-side,
        rgb(0, 0, 0),
        rgb(0, 6, 18)
      );
}

@keyframes revealBorder {
    100% {
        width: 100%;
        left: 0;
        transform: none;
    }
}

.homename {
    background-color: transparent;
    padding: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20vh;
    position: relative;
    overflow: hidden;
}

.homename::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    border-top: 0.1px solid rgb(255, 255, 255);
    border-bottom: 0.1px solid rgb(255, 255, 255);
    animation: revealBorder 0.9s ease-out forwards;
    animation-delay: 0.9s; 
}

.homename h1{
    background-color: transparent;
}

.homename p{
    background-color: transparent;
}
/*-----------------------------------------------------------------------------------------------------------*/
@media (max-width: 576px) {
    .homename h1 {
        font-size: 5.85vw;
        letter-spacing: 1.95vw;
    }
}

@media (min-width: 576px) {
    .homename h1 {
        font-size: 5.85vw;
        letter-spacing: 1.95vw;
    }
}

@media (min-width: 768px) {
    .homename h1 {
        font-size: 45px;
        letter-spacing: 15px;
    }
}

@media (min-width: 992px) {
    .homename h1 {
        font-size: 45px;
        letter-spacing: 15px;
    }
}
/*-----------------------------------------------------------------------------------------------------------*/
@media (max-width: 576px) {
    .homename p {
        font-size: 2.08vw;
        letter-spacing: 0.52vw;
    }
}

@media (min-width: 576px) {
    .homename p {
        font-size: 2.08vw;
        letter-spacing: 0.52vw;
    }
}

@media (min-width: 768px) {
    .homename p {
        font-size: 16px;
        letter-spacing: 4px;
    }
}

@media (min-width: 992px) {
    .homename p {
        font-size: 16px;
        letter-spacing: 4px;
    }
}